extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  .container
    .tabs
      .tabs__labels-semitransparent
        .tabs__labels
          button.tabs__label.tabs__label--active(data-href='#tab1') Pockemons
          button.tabs__label(data-href='#tab2') Fight
      .tabs__panes
        .tabs__pane.tabs__pane--active#tab1
          .tabs__overlay
          .sidebar
            .per-page
              .per-page__title Per page:
              .per-page__buttons
                button.per-page__button.per-page__button--active(data-per-page='12') 12
                button.per-page__button(data-per-page='24') 24
                button.per-page__button(data-per-page='48') 48
            ul.filter
              each type, index in types.typesArray
                li.filter__item
                  +type(type.icon, type.title, type.active ? 'active' : '')
          .cards
            .cards__grid
              each card in cards.cardsArray
                +card(card.id, card.img, card.title, card.icons, card.characteristics)
            .cards__pagination-wrapper
              .cards__pagination-inner
                +pagination()
        .tabs__pane#tab2
          .panel
            .panel__loader.loader
              .loader__icon
                span.loader__part-1
                span.loader__part-2
                span.loader__part-3
          .panel
            .panel__columns
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  .fight-tile__filler Type name <br> of champion above
              .panel__middle vs
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  .fight-tile__filler Type name <br> of champion above
            +button('button', 'FIGHT!', 'primary', 'button-name', 'button-id')(class='panel__button', disabled)
          .panel
            .panel__columns
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  +card(cards.cardsArray[0].id, cards.cardsArray[0].img, cards.cardsArray[0].title, cards.cardsArray[0].icons, cards.cardsArray[0].characteristicsExtended, 'horyzontal')
              .panel__middle vs
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  .fight-tile__filler Type name <br> of champion above
            +button('button', 'FIGHT!', 'primary', 'button-name', 'button-id')(class='panel__button', disabled)
          .panel
            .panel__columns
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  +card(cards.cardsArray[0].id, cards.cardsArray[0].img, cards.cardsArray[0].title, cards.cardsArray[0].icons, cards.cardsArray[0].characteristicsExtended, 'horyzontal')
              .panel__middle vs
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  +card(cards.cardsArray[3].id, cards.cardsArray[3].img, cards.cardsArray[3].title, cards.cardsArray[3].icons, cards.cardsArray[3].characteristicsExtended, 'horyzontal')
            +button('button', 'FIGHT!', 'primary', 'button-name', 'button-id')(class='panel__button')
          .panel
            .panel__columns
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  +card(cards.cardsArray[0].id, cards.cardsArray[0].img, cards.cardsArray[0].title, cards.cardsArray[0].icons, cards.cardsArray[0].characteristicsExtended, 'horyzontal')
              .panel__middle vs
              .panel__column
                .combobox
                  .combobox__field
                    .combobox__loader.loader.loader--no-border
                      .loader__icon
                        span.loader__part-1
                        span.loader__part-2
                        span.loader__part-3
                    input.combobox__input(type='text', placeholder='Choose fighter')
                  ul.combobox__dropdown
                    each item, index in cards.cardsArray
                      if index < 3
                        - var numberPrefix = ''
                        if index < 10
                          - numberPrefix = '00'
                        else if index > 9 && index < 100
                          - numberPrefix = '0'
                        li.combobox__option
                          img.combobox__image(src= src.img + 'dropdown-' + (index + 1) + '.png', alt=item.title)
                          span.combobox__title #{numberPrefix}#{index} &mdash; #{item.title}
                .fight-tile
                  +card(cards.cardsArray[3].id, cards.cardsArray[3].img, cards.cardsArray[3].title, cards.cardsArray[3].icons, cards.cardsArray[3].characteristicsExtended, 'horyzontal')
            +button('button', 'FIGHT!', 'primary', 'button-name', 'button-id')(class='panel__button')
            .panel__result.result.result--red Charmander is the winner!
          .panel__round.result.result--yellow Round draw!
